body {
  background-color: #fdf6e3;
  margin: 40px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
}
/*
html body table th {
  background-color: #93a1a1;
  color: #eee8d5;
}

html body table tr:nth-child(even) {
  background-color: #eee8d5;
} 
*/
table, th, td {
  background-color: #eee8d5;
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 6px;
}

code {
  background-color: #f6f8fa;
  padding: 6px;
  border-radius: 3px;
}

pre {
  text-indent: 0;
  padding: 16px;
  background-color: #f6f8fa;
  border: 2px solid gray;
  border-radius: 6px;
  overflow-x: auto;
  line-height: 1.45;
}
